/* CSS FOR FORM REGISTRATION AND SING IN */
body{
	margin: 0;
	padding: 0;
	font-family: cursive;
	background: #008080;
}

.box{
	width: 400px;
	float: inherit;
	 padding: 20px;
	 margin: 20px auto;
	/* position: absolute;
	top: 65%;
	left: 50%;
 	transform: translate(-50%, -50%); */
	border: 4px solid #00ff00;
	/* background: #146aeb; */
	text-align: center;
}

.box h3{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #00ff40;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.25s;
	
	font-size: 2ex;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
	width: 280px;
	border-color: aqua;
}

.box input[type = "submit"], .box input[type = "reset"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3495db;
	padding: 10px 40px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.25s;
	cursor: pointer;
	font-family: cursive;
	font-size: 2.5ex; /* ex (высота символа  */
}

.box input[type = "submit"]:hover, .box input[type = "reset"]:hover {
	background: #00ff00;
}

/*INDEX  */
.buttons{
	text-align: center;
	margin-top: 50px;	
}

.but{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	font-size: 4vw;
	border: 4px solid #3495db;
	padding: 15px 50px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.25s;
	cursor: pointer;
	font-family: cursive;
}

.but:hover{
	color: #0080ff;
	/* background: #00ff00; */
}

/* LOCALE PAGE */
.localeLink{
	text-align: right;
	margin-right: 30px;
	padding: 10px 50px 10px 0px;
	width: 100%; 
	background: green;
}

a{
	padding: 10px;
	color: #ff8000;
	font-size: 2ex;
}


a:HOVER{
	color: red;
}

a:ACTIVE{
	color: blue;
}


h1{
	text-align: center;
	margin-right: 50px;
	margin-left: 50px;
    border: 4px solid #000;
    padding: 30px;
}

h1:hover{
	background: blue;
}

h2{
	color: red;
	text-align: center;
	margin-right: 50px;
	margin-left: 50px;
    border: 4px solid #000;
    padding: 30px;
}

h2:hover{
	background: blue;
}


/* TABLE */
.button{	
	/* border: 0; */
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	font-size: 1.2vw;
	border: 2px silver #3495db;
	padding: 10px 25px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.25s;
	cursor: pointer;
	font-family: cursive;
}

.button:hover{
	color: #0080ff;
	/* background: #00ff00; */
}


.small-button{
	background: none;
	color: black;
	border-radius: 15px;
	cursor: pointer;
	font-family: cursive;
	text-align: center;
	font-size: 1vw;
}

.small-button:hover{
	color: #0080ff;
	background: #00ff00;
}


.caption_table{
	color: #00ff80;
	text-transform: uppercase;
	font-weight: 500;
	font-family: serif;
}


select{
	/* width: 135px;  */
 	padding: 5px; 
 	height: 30px;
 	border: none;
 	/*  background: #008080;
 	 color: #f1efef; 
  	 font-size: 29px; */
  	font-family: cursive;
  	box-shadow: 0 5px 20px rgba(27, 26, 26, 0.39); 
  	outline: none;
 	 
}

select option:HOVER{
	 background: #19496d; 
}

table{
	border-collapse: separate;
	border-spacing: 10px;
}

caption {
	padding: 8px 0; 
}


/* DRIVER */
.left-menu{
	width: 15%; 
    /* background: #ccc;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; */ 
    float: left;
    /* border: 1px solid red; */
	/* -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  */
	/* width: 20%;
	float: left; */
}
.output-table-menu{
	width: 85%; 
    /* background: #fc0; 
    padding: 5px; 
    border: solid 1px black;  */
    float: left; 
    /* position: relative; 
    top: 40px; 
    left: -70px;  */
    
	/* width: 80%;
 	float: left;  */
}

.header{
	 float: left; 
	 width: 100%; 
	 padding: 5px;
}


